<h1> Unit Converter</h1>

<div>
<h3>Temperature</h3>
<form method="post" action="/convert">
	<input type="text" name="celsius" placeholder="˚C">
	<p>=</p>
	<input type="text" name="fahrenheit" placeholder="˚F">
	<button type="submit" value="submit">Convert</button>
</form>
</div>


<div>
<h3>Distance</h3>
<form method="post" action="/convert">
	<input type="text" name="kilometers" placeholder="kilometers">
	<p>=</p>
	<input type="text" name="miles" placeholder="miles">
	<button type="submit" value="submit">Convert</button>
</form>
</div>


<div>
<h3>Mass/Weight</h3>
<form method="post" action="/convert">
	<input type="text" name="kilograms" placeholder="kilograms">
	<p>=</p>
	<input type="text" name="pounds" placeholder="pounds">
	<p>=</p>
	<input type="text" name="stones" placeholder="stones">
	<button type="submit" value="submit">Convert</button>
</form>
</div>
